@font-face {
  font-family: 'Futura Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Book'), url('FuturaStdBook.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Book Oblique'),
    url('FuturaStdBookOblique.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Light'), url('FuturaStdLight.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Medium'), url('FuturaStdMedium.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Heavy'), url('FuturaStdHeavy.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Bold'), url('FuturaStdBold.woff') format('woff');
}

@font-face {
  font-family: 'Futura Std Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Extra Bold'),
    url('FuturaStdExtraBold.woff') format('woff');
}
